In [1]:
#importing libaries
import pandas as pd
import numpy as np

In [2]:
#Importing dataset
df_ghargaderi=pd.read_csv('ghargaderi_raw.csv')

In [3]:
df_ghargaderi.sample(5)

,price,location,land_area,no_of_flat,no_of_bedroom,no_of_bathroom,no_of_livingroom,no_of_kitchen,no_of_parking
858,"Price : 3,25,00,000","Kumaripati,Lalitpur",Land area : 4.2 anna,No of Flat : 3.5,Bedroom : 8,Bathroom : 4,Living Room :1,Kitchen : 2,Parking :Motorcycle
43,"Price : 5,10,00,000","Hattiban,Lalitpur",Land area : 4 Aana 2 Paisa,No of Flat : 2.5,Bedroom : 5,Bathroom : 4,Living Room :2,Kitchen : 2,Parking :undefined
208,"Price : 2,80,00,000","Pepsicola,Kathmandu",Land area : 2 Aana 2 Paisa,No of Flat : 3.5,Bedroom : 5,Bathroom : 4,Living Room :2,Kitchen : 2,Parking :undefined
590,"Price : 4,80,00,000","Hattigauda,Kathmandu",Land area : 7.5 Aana,No of Flat : 3.5,Bedroom : 6,Bathroom : 5,Living Room :2,Kitchen : 2,Parking :undefined
308,"Price : 2,30,00,000","Hattiban,Lalitpur",Land area : 2 Aana 3 Paisa,No of Flat : 2.5,Bedroom : 5,Bathroom : 4,Living Room :2,Kitchen : 2,Parking :undefined

In [4]:
#Here this scraping method i have added the heading to avoice the improper data .

In [5]:
df_ghargaderi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1224 entries, 0 to 1223
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             1224 non-null   object
 1   location          1224 non-null   object
 2   land_area         1224 non-null   object
 3   no_of_flat        1224 non-null   object
 4   no_of_bedroom     1224 non-null   object
 5   no_of_bathroom    1224 non-null   object
 6   no_of_livingroom  1224 non-null   object
 7   no_of_kitchen     1224 non-null   object
 8   no_of_parking     1224 non-null   object
dtypes: object(9)
memory usage: 86.2+ KB

In [6]:
#Checking the first header!
print(df_ghargaderi['price'].str.split(':').str[0].unique())
print(df_ghargaderi['land_area'].str.split(':').str[0].unique())
print(df_ghargaderi['no_of_flat'].str.split(':').str[0].unique())
print(df_ghargaderi['no_of_bedroom'].str.split(':').str[0].unique())
print(df_ghargaderi['no_of_bathroom'].str.split(':').str[0].unique())
print(df_ghargaderi['no_of_livingroom'].str.split(':').str[0].unique())
print(df_ghargaderi['no_of_kitchen'].str.split(':').str[0].unique())
print(df_ghargaderi['no_of_parking'].str.split(':').str[0].unique())

[' Price ']
[' Land area ']
[' No of Flat ']
['Bedroom ']
[' Bathroom ']
[' Living Room ']
[' Kitchen ']
['Parking ']

In [7]:
df_ghargaderi['price']=df_ghargaderi['price'].str.split(':').str[1]
df_ghargaderi['land_area']=df_ghargaderi['land_area'].str.split(':').str[1]
df_ghargaderi['no_of_flat']=df_ghargaderi['no_of_flat'].str.split(':').str[1]
df_ghargaderi['no_of_bedroom']=df_ghargaderi['no_of_bedroom'].str.split(':').str[1]
df_ghargaderi['no_of_bathroom']=df_ghargaderi['no_of_bathroom'].str.split(':').str[1]
df_ghargaderi['no_of_livingroom']=df_ghargaderi['no_of_livingroom'].str.split(':').str[1]
df_ghargaderi['no_of_kitchen']=df_ghargaderi['no_of_kitchen'].str.split(':').str[1]
df_ghargaderi['no_of_parking']=df_ghargaderi['no_of_parking'].str.split(':').str[1]

In [8]:
df_ghargaderi.head()

,price,location,land_area,no_of_flat,no_of_bedroom,no_of_bathroom,no_of_livingroom,no_of_kitchen,no_of_parking
0,"3,19,99,999","Imadol,Lalitpur",3Ana 2Dam,3,6,5,2,2,Car 1
1,"3,24,99,999","Imadol,Lalitpur",3.25Ana,3,6,4,1,2,Car 1
2,"1,89,00,000","Setipakha,Lalitpur",2.5 Aana,2,4,3,1,1,undefined
3,"1,55,00,000","Tikathali,Lalitpur",3 Aana,1.5,2,1,1,1,undefined
4,"1,55,00,000","Tikathali,Lalitpur",3 Aana,1.5,2,1,1,1,undefined

In [9]:
df_ghargaderi['price']=df_ghargaderi['price'].str.split(',').str[0]+df_ghargaderi['price'].str.split(',').str[1]+df_ghargaderi['price'].str.split(',').str[2]+df_ghargaderi['price'].str.split(',').str[3]
df_ghargaderi['price']=df_ghargaderi['price'].astype(float)
df_ghargaderi['no_of_flat']=df_ghargaderi['no_of_flat'].astype(float)
df_ghargaderi['no_of_bedroom']=df_ghargaderi['no_of_bedroom'].astype(float)
df_ghargaderi['no_of_livingroom']=df_ghargaderi['no_of_livingroom'].astype(float)
df_ghargaderi['no_of_kitchen']=df_ghargaderi['no_of_kitchen'].astype(float)
df_ghargaderi['no_of_bathroom']=df_ghargaderi['no_of_bathroom'].astype(float)

In [10]:
df_ghargaderi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1224 entries, 0 to 1223
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             1224 non-null   float64
 1   location          1224 non-null   object
 2   land_area         1224 non-null   object
 3   no_of_flat        1224 non-null   float64
 4   no_of_bedroom     1224 non-null   float64
 5   no_of_bathroom    1224 non-null   float64
 6   no_of_livingroom  1224 non-null   float64
 7   no_of_kitchen     1224 non-null   float64
 8   no_of_parking     1224 non-null   object
dtypes: float64(6), object(3)
memory usage: 86.2+ KB

In [11]:
df_ghargaderi.to_csv('preprocessed_ghargaderi.csv',index=False)