In [1]:
#importing libaries
import pandas as pd
import numpy as np

In [2]:
#Importing dataset
df_ghargaderi=pd.read_csv('ghargaderi_raw.csv')

In [3]:
df_ghargaderi.sample(5)

,price,location,land_area,no_of_flat,no_of_bedroom,no_of_bathroom,no_of_livingroom,no_of_kitchen,no_of_parking
261,"Price : 3,00,00,000","Imadol,Lalitpur",Land area : 3.5 aana,No of Flat : 2.5,Bedroom : 5,Bathroom : 5,Living Room :1,Kitchen : 2,Parking :Motorcycle
686,"Price : 4,80,00,000","Hattigauda,Kathmandu",Land area : 7.5 Aana,No of Flat : 3.5,Bedroom : 6,Bathroom : 5,Living Room :2,Kitchen : 2,Parking :undefined
596,"Price : 2,30,00,000","Hattiban,Lalitpur",Land area : 2 Aana 3 Paisa,No of Flat : 2.5,Bedroom : 5,Bathroom : 4,Living Room :2,Kitchen : 2,Parking :undefined
568,"Price : 2,80,00,000","Pepsicola,Kathmandu",Land area : 2 Aana 2 Paisa,No of Flat : 3.5,Bedroom : 5,Bathroom : 4,Living Room :2,Kitchen : 2,Parking :undefined
535,"Price : 1,15,00,000","Ward 8 salakpur,Morang",Land area : 12 dhur,No of Flat : 2.5,Bedroom : 4,Bathroom : 2,Living Room :1,Kitchen : 1,Parking :Car 1

In [4]:
#Here this scraping method i have added the heading to avoice the improper data .

In [5]:
df_ghargaderi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1224 entries, 0 to 1223
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             1224 non-null   object
 1   location          1224 non-null   object
 2   land_area         1224 non-null   object
 3   no_of_flat        1224 non-null   object
 4   no_of_bedroom     1224 non-null   object
 5   no_of_bathroom    1224 non-null   object
 6   no_of_livingroom  1224 non-null   object
 7   no_of_kitchen     1224 non-null   object
 8   no_of_parking     1224 non-null   object
dtypes: object(9)
memory usage: 86.2+ KB

In [6]:
#Checking the first header!
print(df_ghargaderi['price'].str.split(':').str[0].unique())
print(df_ghargaderi['land_area'].str.split(':').str[0].unique())
print(df_ghargaderi['no_of_flat'].str.split(':').str[0].unique())
print(df_ghargaderi['no_of_bedroom'].str.split(':').str[0].unique())
print(df_ghargaderi['no_of_bathroom'].str.split(':').str[0].unique())
print(df_ghargaderi['no_of_livingroom'].str.split(':').str[0].unique())
print(df_ghargaderi['no_of_kitchen'].str.split(':').str[0].unique())
print(df_ghargaderi['no_of_parking'].str.split(':').str[0].unique())

[' Price ']
[' Land area ']
[' No of Flat ']
['Bedroom ']
[' Bathroom ']
[' Living Room ']
[' Kitchen ']
['Parking ']

In [7]:
df_ghargaderi['price']=df_ghargaderi['price'].str.split(':').str[1]
df_ghargaderi['land_area']=df_ghargaderi['land_area'].str.split(':').str[1]
df_ghargaderi['no_of_flat']=df_ghargaderi['no_of_flat'].str.split(':').str[1]
df_ghargaderi['no_of_bedroom']=df_ghargaderi['no_of_bedroom'].str.split(':').str[1]
df_ghargaderi['no_of_bathroom']=df_ghargaderi['no_of_bathroom'].str.split(':').str[1]
df_ghargaderi['no_of_livingroom']=df_ghargaderi['no_of_livingroom'].str.split(':').str[1]
df_ghargaderi['no_of_kitchen']=df_ghargaderi['no_of_kitchen'].str.split(':').str[1]
df_ghargaderi['no_of_parking']=df_ghargaderi['no_of_parking'].str.split(':').str[1]

In [8]:
df_ghargaderi.head(10)

,price,location,land_area,no_of_flat,no_of_bedroom,no_of_bathroom,no_of_livingroom,no_of_kitchen,no_of_parking
0,"3,19,99,999","Imadol,Lalitpur",3 Aana 2 Daam,3,6,5,2,2,Car 1
1,"3,24,99,999","Imadol,Lalitpur",3.25 Aana,3,6,4,1,2,Car 1
2,"1,89,00,000","Setipakha,Lalitpur",2.5 Aana,2,4,3,1,1,undefined
3,"1,55,00,000","Tikathali,Lalitpur",3 Aana,1.5,2,1,1,1,undefined
4,"1,55,00,000","Tikathali,Lalitpur",3 Aana,1.5,2,1,1,1,undefined
5,"2,90,00,000","Shital Height,Lalitpur",3 Aana 2 Daam,3.5,5,4,1,2,undefined
6,"3,25,00,000","Imadol,Lalitpur",3 Aana 2 Daam,4,5,4,1,2,undefined
7,"1,15,00,000","Ward 8 salakpur,Morang",12 dhur,2.5,4,2,1,1,Car 1
8,"2,90,00,000","Tikathali,Lalitpur",3 Aana 1 Paisa 1 Daam,3.5,5,4,2,2,undefined
9,"4,00,00,000","Bansbari,Kathmandu",4 Aana,3,6,4,2,2,undefined

In [9]:
df_ghargaderi['price']=df_ghargaderi['price'].str.split(',').str[0]+df_ghargaderi['price'].str.split(',').str[1]+df_ghargaderi['price'].str.split(',').str[2]+df_ghargaderi['price'].str.split(',').str[3]
df_ghargaderi['price']=df_ghargaderi['price'].astype(float)
df_ghargaderi['no_of_flat']=df_ghargaderi['no_of_flat'].astype(float)
df_ghargaderi['no_of_bedroom']=df_ghargaderi['no_of_bedroom'].astype(float)
df_ghargaderi['no_of_livingroom']=df_ghargaderi['no_of_livingroom'].astype(float)
df_ghargaderi['no_of_kitchen']=df_ghargaderi['no_of_kitchen'].astype(float)
df_ghargaderi['no_of_bathroom']=df_ghargaderi['no_of_bathroom'].astype(float)

In [10]:
df_ghargaderi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1224 entries, 0 to 1223
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             1224 non-null   float64
 1   location          1224 non-null   object
 2   land_area         1224 non-null   object
 3   no_of_flat        1224 non-null   float64
 4   no_of_bedroom     1224 non-null   float64
 5   no_of_bathroom    1224 non-null   float64
 6   no_of_livingroom  1224 non-null   float64
 7   no_of_kitchen     1224 non-null   float64
 8   no_of_parking     1224 non-null   object
dtypes: float64(6), object(3)
memory usage: 86.2+ KB

In [11]:
df_ghargaderi['no_of_parking'].value_counts()

no_of_parking
undefined     867
Car 1         255
Motorcycle    102
Name: count, dtype: int64

In [12]:
df_ghargaderi['no_of_parking']=df_ghargaderi['no_of_parking'].map({"undefined":1,"Car 1":2,'Motorcycle':1})

In [17]:
df_ghargaderi.to_csv('preprocessed_ghargaderi.csv',index=False)

In [13]:
df_ghargaderi['land_area'].unique()

array([' 3 Aana 2 Daam', ' 3.25 Aana', ' 2.5 Aana', ' 3 Aana', ' 12 dhur',
       ' 3 Aana 1 Paisa 1 Daam', ' 4 Aana', ' 5 Aana 3 Paisa', ' 5 Aana',
       ' 4.5 Aana', ' 7.5 Aana', ' 2 Aana 2 Paisa', ' 3.5 aana',
       ' 4.2 Aana', ' 4 Aana 2 Paisa', ' 2 Aana 3 Paisa', ' 3 aana',
       ' 3 Aana 2 Paisa 1 Daam', ' 3 Aana 1 Paisa', ' 3Ana 2Daam',
       ' 3.25Ana', ' 3.25 Ana'], dtype=object)

In [14]:
ropani_to_sqft = 5476
aana_to_sqft = 342.25  # 16 aana in 1 ropani
paisa_to_sqft = 85.56  # 4 paisa in 1 aana
daam_to_sqft = 21.39  # 4 daam in 1 paisa

# Conversion function
def convert_to_sqft(measurement):
    measurement = str(measurement).lower().strip()
    total_sqft = 0

    # Special case: Handle "0-3-3-0" format
    if "-" in measurement:
        parts = measurement.split('-')
        if len(parts) == 4:  # Ensure it has exactly 4 parts
            try:
                ropani, aana, paisa, daam = map(float, parts)
                return (
                    ropani * ropani_to_sqft +
                    aana * aana_to_sqft +
                    paisa * paisa_to_sqft +
                    daam * daam_to_sqft
                )
            except ValueError:
                return None  # Invalid number format

    # General case: Handle "3 anna 5 paisa" and similar formats
    unit_conversion = {
        "ropani": ropani_to_sqft,
        "aana": aana_to_sqft,
        "paisa": paisa_to_sqft,
        "daam": daam_to_sqft,
        "sqft": 1,
        "sq ft": 1,
    }

    parts = measurement.split()
    i = 0
    while i < len(parts):
        try:
            value = float(parts[i])  # Numeric value
            unit = parts[i + 1] if i + 1 < len(parts) else None  # Unit
            if unit in unit_conversion:
                total_sqft += value * unit_conversion[unit]
                i += 2  # Move to the next value-unit pair
            else:
                return None  # Invalid unit
        except (ValueError, IndexError):
            return None  # Invalid format

    return total_sqft

In [16]:
df_ghargaderi['land_area']=df_ghargaderi['land_area'].apply(convert_to_sqft)