In [1]:
#importing libaries.
import pandas as pd

In [2]:
#loading dataset
df_kantipur=pd.read_csv("kantipur_real_estate_raw.csv")

In [5]:
df_kantipur.sample(5)

,price,location,land_area,no_of_flat,no_of_bedroom,no_of_bathroom,no_of_livingroom,no_of_kitchen,furnishing,facing,road_size
344,Rs. 3 Crore 80 Lakh (Negotiable),Location: Hattiban,Land Area: 4 Aana 2 Paisa Above,Floors: 2.5,Bedrooms: 5,Bathrooms: 5,Living rooms: 1,Kitchens: 1,Furnishing Type: Semi Furnished,Face Towards: East/West Faced,20 Feet
1234,Rs. 1 Crore 55 Lakh,Location: Kageshwori Manohara Dachhi,Land Area: 0-3-1-0,Floors: 2.5,Bedrooms: 5,Bathrooms: 3,Living rooms: 3,Kitchens: 3,Furnishing Type: Not Furnishing,Face Towards: East/South faced,16 Feet
628,Rs. 1 Crore 90 Lakh (Negotiable),Location: Mahankal Oralo Chowk,Land Area: 0-2-2-0,Floors: 2.5,Bedrooms: 7,Bathrooms: 3,Living rooms: 1,Kitchens: 3,Furnishing Type: Semi Furnished,Face Towards: South/East Faced,20 Feet
894,Rs. 2 Crore 50 Lakh (Negotiable),Location: Indreni Pool,Land Area: 0-2-3-3,Floors: 2.5,Bedrooms: 4,Bathrooms: 4,Living rooms: 3,Kitchens: 3,Furnishing Type: Semi Furnishing,Face Towards: South Faced,12 Feet
1198,Rs. 4 Crore 25 Lakh,Location: Balaju Height,Land Area: 0-5-0-0,Floors: 2.5,Bedrooms: 7,Bathrooms: 4,Living rooms: 2,Kitchens: 1,Furnishing Type: Semi Furnishing,Face Towards: East Faced,13 Feet

In [6]:
df_kantipur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1264 entries, 0 to 1263
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             1264 non-null   object
 1   location          1264 non-null   object
 2   land_area         1264 non-null   object
 3   no_of_flat        1264 non-null   object
 4   no_of_bedroom     1264 non-null   object
 5   no_of_bathroom    1264 non-null   object
 6   no_of_livingroom  1264 non-null   object
 7   no_of_kitchen     1264 non-null   object
 8   furnishing        1264 non-null   object
 9   facing            1264 non-null   object
 10  road_size         1264 non-null   object
dtypes: object(11)
memory usage: 108.8+ KB

In [14]:
print(df_kantipur['location'].str.split().str[0].unique())
print(df_kantipur['land_area'].str.split().str[0].unique())
print(df_kantipur['no_of_flat'].str.split().str[0].unique())
print(df_kantipur['location'].str.split().str[0].unique())
print(df_kantipur['location'].str.split().str[0].unique())

array(['Location:'], dtype=object)