In [1]:
#importing libaries.
import pandas as pd

In [2]:
#loading dataset
df_kantipur=pd.read_csv("kantipur_real_estate_raw.csv")

In [3]:
df_kantipur.sample(5)

,price,location,land_area,no_of_flat,no_of_bedroom,no_of_bathroom,no_of_livingroom,no_of_kitchen,furnishing,facing,road_size
1173,Rs. 1 crore 35 lakh (Negotiable),Location: Gajarkot,Land Area: 0-3-0-0,Floors: 2.5,Bedrooms: 7,Bathrooms: 3,Living rooms: 1,Kitchens: 2,Furnishing Type: Semi Furnishing,Face Towards: East Faced,8 Feet
871,Rs. 2 Crore 50 Lakh (Negotiable),Location: Kavresthali Karkithok,Land Area: 0-3-3-0,Floors: 2.5,Bedrooms: 6,Bathrooms: 3,Living rooms: 2,Kitchens: 4,Furnishing Type: Semi Furnishing,Face Towards: South/East Faced,13 Feet
387,Rs. 1 Crore 60 Lakh (Negotiable),Location: Gokarna Bhairabchaur,Land Area: 0-4-0-0,Floors: 4,Bedrooms: 7,Bathrooms: 4,Living rooms: 2,Kitchens: 4,Furnishing Type: Not Furnishing,Face Towards: East Faced,10 Feet
1171,Rs. (मुल्य आपसी समझदारीमा) (Negotiable),Location: Kalimati,Land Area: 0-23-0-0,Floors: 3.5,Bedrooms: 14,Bathrooms: 0,Living rooms: 0,Kitchens: 0,Furnishing Type: Not Furnishing,Face Towards: East/North Faced,13 Feet
217,Rs. 2 Crore 65 Lakh (Negotiable),Location: Balkot Sayukta Marga,Land Area: 0-3-2-3,Floors: 2.5,Bedrooms: 7,Bathrooms: 4,Living rooms: 3,Kitchens: 2,Furnishing Type: Semi Furnished,Face Towards: West Feced,13 Feet

In [4]:
df_kantipur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1264 entries, 0 to 1263
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             1264 non-null   object
 1   location          1264 non-null   object
 2   land_area         1264 non-null   object
 3   no_of_flat        1264 non-null   object
 4   no_of_bedroom     1264 non-null   object
 5   no_of_bathroom    1264 non-null   object
 6   no_of_livingroom  1264 non-null   object
 7   no_of_kitchen     1264 non-null   object
 8   furnishing        1264 non-null   object
 9   facing            1264 non-null   object
 10  road_size         1264 non-null   object
dtypes: object(11)
memory usage: 108.8+ KB

In [5]:
print(df_kantipur['location'].str.split().str[0].unique())
print(df_kantipur['land_area'].str.split().str[0].unique())
print(df_kantipur['no_of_flat'].str.split().str[0].unique())
print(df_kantipur['furnishing'].str.split().str[0].unique())
print(df_kantipur['no_of_bedroom'].str.split().str[0].unique())
print(df_kantipur['no_of_bathroom'].str.split().str[0].unique())
print(df_kantipur['no_of_kitchen'].str.split().str[0].unique())
print(df_kantipur['no_of_livingroom'].str.split().str[0].unique())
print(df_kantipur['facing'].str.split().str[0].unique())

['Location:']
['Land']
['Floors:']
['Furnishing']
['Bedrooms:']
['Bathrooms:']
['Kitchens:']
['Living']
['Face']

In [6]:
df_kantipur["price"].unique()

array(['Rs. 7 Crore 25 Lakh (Negotiable)', 'Rs. 0 (Negotiable)',
       'Rs. 3 Crore 60 Lakh (Negotiable)',
       'Rs. 3 Crore 25 Lakh (Negotiable)',
       'Rs. 2 Crore 85 Lakh (Negotiable)',
       'Rs. 3 Crore 50 Lakh (Negotiable)',
       'Rs. 3 Crore 95 Lakh (Negotiable)',
       'Rs. 2 Crore 65 Lakh (Negotiable)',
       'Rs. 1 Crore 25 Lakh (Negotiable)', 'Rs. 2 Crore (Negotiable)',
       'Rs. 3 Crore (Negotiable)', 'Rs. 2 Crore 20 Lakh (Negotiable)',
       'Rs. 2 Crore 25 Lakh (Negotiable)',
       'Rs. 2 Crore 50 Lakh (Negotiable)',
       'Rs. मुल्य आपसी समझदारीमा (Negotiable)',
       'Rs. 4 Crore 75 Lakh (Negotiable)',
       'Rs. 3 Crore 90 Lakh (Negotiable)',
       'Rs. 3 Crore 35 Lakh (Negotiable)',
       'Rs. 3 Crore 10 Lakh (Negotiable)',
       'Rs. 5 Crore 50 Lakh (Negotiable)',
       'Rs. 2 Crore 80 Lakh (Negotiable)',
       'Rs. 2 Crore 90 Lakh (Negotiable)',
       'Rs. 3 Crore 45 Lakh (Negotiable)',
       'Rs. 6 Crore 25 Lakh (Negotiable)',
       'Rs. 2 Crore 19 Lakh(fix price)',
       'Rs. 4 Crore 80 Lakh (Negotiable)',
       'Rs. 2 Crore 75 Lakh (Negotiable)',
       'Rs. 4 Crore 50 Lakh (Negotiable)',
       'Rs. 4 Crore 60 Lakh (Negotiable)',
       'Rs. 1 Crore 60 Lakh (Negotiable)',
       'Rs. 2 Crore 40 Lakh (Negotiable)',
       'Rs. 3 Crore 40 Lakh (Negotiable)',
       'Rs. 3 Crore 80 Lakh (Negotiable)', 'Rs. 1 Crore 30 Lakh',
       'Rs. 30 Lakh (Negotiable)', 'Rs. 1 Crore 55 Lakh (Negotiable)',
       'Rs. 65 lakh (Negotiable)', 'Rs. 1 Crore 61 Lakh (Negotiable)',
       'Rs. 15 Crore (Negotiable)', 'Rs. 2 Crore 70 Lakh (Negotiable)',
       'Rs. 2 Crore 10 Lakh (Negotiable)',
       'Rs. 2 Crore 60 Lakh (Negotiable)',
       'Rs. 3 Crore 15 Lakh (Negotiable)',
       'Rs. 3 Crore 20 Lakh (Negotiable)',
       'Rs. (मुल्य आपसी समझदारीमा) (Negotiable)',
       'Rs. 1 Crore 65 Lakh (Negotiable)',
       'Rs. 3 Crore 85 Lakh (Negotiable)',
       'Rs. 5 Crore 60 Lakh (Negotiable)',
       'Rs. 7 Crore 50 Lakh (Negotiable)',
       'Rs. 4 Crore 25 Lakh (Negotiable)', 'Rs. 14 Crore 60 (Negotiable)',
       'Rs. 1 Crore 50 Lakh (Negotiable)', 'Rs. 4 Crore 25 Lakh',
       'Rs. 2 Crore 95 Lakh (Negotiable)', 'Rs. 4 Crore (Negotiable)',
       'Rs. 2 Crore 35 Lakh (Negotiable)', 'Rs. 0',
       'Rs. 2 Crore 79 Lakh (Negotiable)', 'Rs. 3 Crore 80 Lakh',
       'Rs. 2 Crore 5 Lakh (Negotiable)', 'Rs. 6 Crore 50 Lakh',
       'Rs. 1 Crore 40 Lakh (Negotiable)',
       'Rs. 1 Crore 45 lakh (Negotiable)',
       'Rs. 1 Crore 90 Lakh (Negotiable)',
       'Rs. 4 Crore 90 Lakh (Negotiable)',
       'Rs. 75 Lakh Per Aana (Negotiable)',
       'Rs. 4 Crore 32 Lakh (Negotiable)',
       'Rs. 1 Crore 30 Lakh (Negotiable)', 'Rs. 2 Crore 60 Lakh',
       'Rs. 2 Crore 30 Lakh (Negotiable)', 'Rs. 2 Crore 70 Lakh',
       'Rs. 3 Crore 75 Lakh (Negotiable)',
       'Rs. 1 Crore 80 Lakh (Negotiable)',
       'Rs. 3 Crore 30 Lakh (Negotiable)', 'Rs. 8 Cr. (Negotiable)',
       'Rs. 2 Crore 55 Lakh (Negotiable)', 'Rs. 15 Cr (Negotiable)',
       'Rs. 2 Crore 68 Lakh (Negotiable)',
       'Rs. 2 Crore 15 Lakh (Negotiable)', 'Rs. (मुल्य आपसी समझदारीमा)',
       'Rs. 2 Crore 28 Lakh (Negotiable)',
       'Rs. 1 Crore 86 Lakh (Negotiable)',
       'Rs. 5 Crore 10 Lakh (Negotiable)',
       'Rs. 3 Crore 66 Lakh (Negotiable)', 'Rs. 4 Crore 50 Lakh',
       'Rs. 3 Crore 70 Lakh (Negotiable)',
       'Rs. 2 Crore 18 Lakh (Negotiable)',
       'Rs. 9 Lakh 50 Thousand (Negotiable)',
       'Rs. 60 Lakh Per aana (Negotiable)',
       'Rs. 40 Lakh Per Aana (Negotiable)',
       'Rs. 1 Crore 20 Lakh (Negotiable)',
       'Rs. 1 Crore 62 Lakh (Negotiable)',
       'Rs. 1 Crore 70 Lakh (Negotiable)', 'Rs. 6 Crore (Negotiable)',
       'Rs. 3 Crore 98 Lakh (Negotiable)',
       'Rs. 4 Crore 45 Lakh (Negotiable)',
       'Rs. 1 Crore 35 Lakh (Negotiable)', 'Rs. 7 Crore (Negotiable)',
       'Rs. 7 Crore 70 Lakh (Negotiable)',
       'Rs. 3 Crore 65 Lakh (Negotiable)',
       'Rs. 5 Crore 25 Lakh (Negotiable)', 'Rs. 11 Crore (Negotiable)',
       'Rs. 1 Crore 15 Lakh (Negotiable)',
       'Rs. 9 Crore 50 lakh (Negotiable)',
       'Rs. 6 Crore 50 Lakh (Negotiable)',
       'Rs. 1 Crore 95 Lakh (Negotiable)',
       'Rs. 4 Crore 55 Lakh (Negotiable)',
       'Rs. 2 Crore 45 Lakh (Negotiable)',
       'Rs. 10 Crore 50 Lakh (Negotiable)',
       'Rs. 4 Crore 20 Lakh (Negotiable)', 'Rs. 3 Crore 70 Lakh',
       'Rs. 1 Crore 3520 Lakh (Negotiable)',
       'Rs. Negotiable (Negotiable)',
       'Rs. The price will be fixed by mutual agreement (Negotiable)',
       'Rs. 2Crore 30 Lakh (Negotiable)', 'Rs. 40 thousand (Negotiable)',
       'Rs. total 70 lakh (Negotiable)',
       'Rs. 40 crore 50 lakh (Negotiable)',
       'Rs. 3 Crore 160 Lakh (Negotiable)', 'Rs. 1 Crore (Negotiable)',
       'Rs. 7 Crore 95 Lakh (Negotiable)',
       'Rs. 2 crore 90 lakh (Negotiable)', 'Rs. 8 Crore (Negotiable)',
       'Rs. 2 Crore 99 Lakh (Negotiable)',
       'Rs. House Price 3 Crore 95 Lakh/Land Price 29 Lakh Per Aana (Negotiable)',
       'Rs. 5 Crore (Negotiable)', 'Rs. 20 Lakh Per aana (Negotiable)',
       'Rs. 2 Crore 34 Lakh (Negotiable)', 'Rs. 15 Lakh (Negotiable)',
       'Rs. 25 Lakh (Negotiable)', 'Rs. 1 Crore 97 Lakh (Negotiable)',
       'Rs. 1 Lakh 10 Thousand (Negotiable)',
       'Rs. 1 Crore 75 Lakh (Negotiable)',
       'Rs. 5 Crore 25 Lakh Fixed Price (Negotiable)',
       'Rs. 1 Crore 85 Lakh (Negotiable)',
       'Rs. 19 Lakh 70 Thousand (Negotiable)',
       'Rs. 7 Crore 75 Lakh (Negotiable)',
       'Rs. 6 Crore 30 Lakh (Negotiable)',
       'Rs. 1 Crore 18 Lakh (Negotiable)', 'Rs. 10 Crore (Negotiable)',
       'Rs. (1 Crore 80 Lakh आपसी समझदारीमा) (Negotiable)',
       'Rs. 4 Crore 95 Lakh (Negotiable)',
       'Rs. 2 Crore 7 Lakh (Negotiable)',
       'Rs. 6 Crore 56 Lakh (Negotiable)', 'Rs. 27 Lakh (Negotiable)',
       'Rs. 1 Crore 48 Lakh (Negotiable)', 'Rs. 2 Crore 80 Lakh',
       'Rs. 2 Crore 60 Thousand (Negotiable)', 'Rs. 4 Lakh (Negotiable)',
       'Rs. 1 crore 35 lakh (Negotiable)',
       'Rs. 2 Crore 80 Thousand (Negotiable)',
       'Rs. 1 Crore 10 Lakh (Negotiable)', 'Rs. 1 Crore 35 Lakh',
       'Rs. 2 Crore 55 Lakh', 'Rs. 2 Crore 95 Lakh',
       'Rs. 2 Crore 90 Lakh', 'Rs. 1 Crore 45 Lakh',
       'Rs. 1 Crore 55 Lakh', 'Rs. 1 Crore 25 Lakh', 'Rs. 6 crore',
       'Rs. 3 Crore 15 Lakh', 'Rs. 2 Crore 50 Lakh',
       'Rs. 3 Crore 30 Lakh', 'Rs. 1 Crore 50 Lakh',
       'Rs. 2 Crore 65 Lakh', 'Rs. 2 Crore 35 Lakh',
       'Rs. 2 Crore 20 Thousand'], dtype=object)

In [7]:
df_kantipur['location']=df_kantipur['location'].str.split(':').str[1]
df_kantipur['land_area']=df_kantipur['land_area'].str.split(':').str[1]
df_kantipur['no_of_flat']=df_kantipur['no_of_flat'].str.split(':').str[1]
df_kantipur['furnishing']=df_kantipur['furnishing'].str.split(':').str[1]
df_kantipur['no_of_bedroom']=df_kantipur['no_of_bedroom'].str.split(':').str[1]
df_kantipur['no_of_bathroom']=df_kantipur['no_of_bathroom'].str.split(':').str[1]
df_kantipur['no_of_kitchen']=df_kantipur['no_of_kitchen'].str.split(':').str[1]
df_kantipur['no_of_livingroom']=df_kantipur['no_of_livingroom'].str.split(':').str[1]
df_kantipur['facing']=df_kantipur['facing'].str.split(':').str[1]

In [8]:
df_kantipur.head()

,price,location,land_area,no_of_flat,no_of_bedroom,no_of_bathroom,no_of_livingroom,no_of_kitchen,furnishing,facing,road_size
0,Rs. 7 Crore 25 Lakh (Negotiable),Dhapasi Height,0-7-2-0,3.5,9,7,3,3,Semi Furnished,East/South & North faced,32 Feet
1,Rs. 7 Crore 25 Lakh (Negotiable),Dhapasi Height,0-7-2-0,3.5,9,7,3,3,Semi Furnished,East/South & North faced,32 Feet
2,Rs. 0 (Negotiable),Bhangal Height,0-4-0-0,2.5,4,5,3,2,Semi Furnished,North Faced,13 Feet
3,Rs. 0 (Negotiable),Bhangal Height,0-4-0-0,2.5,4,5,3,2,Semi Furnished,North Faced,13 Feet
4,Rs. 3 Crore 60 Lakh (Negotiable),Pepsicola,0-3-1-0,4.5,7,4,4,3,Not Furnishing,East faced,13 Feet

In [9]:
price=df_kantipur['price'].apply(lambda x:x.replace("Rs.","").split())
price.apply(lambda x:x.remove('(Negotiable)') if "(Negotiable)" in x  else x)
df_kantipur['price']=price

In [10]:
df_kantipur.head()

,price,location,land_area,no_of_flat,no_of_bedroom,no_of_bathroom,no_of_livingroom,no_of_kitchen,furnishing,facing,road_size
0,"[7, Crore, 25, Lakh]",Dhapasi Height,0-7-2-0,3.5,9,7,3,3,Semi Furnished,East/South & North faced,32 Feet
1,"[7, Crore, 25, Lakh]",Dhapasi Height,0-7-2-0,3.5,9,7,3,3,Semi Furnished,East/South & North faced,32 Feet
2,[0],Bhangal Height,0-4-0-0,2.5,4,5,3,2,Semi Furnished,North Faced,13 Feet
3,[0],Bhangal Height,0-4-0-0,2.5,4,5,3,2,Semi Furnished,North Faced,13 Feet
4,"[3, Crore, 60, Lakh]",Pepsicola,0-3-1-0,4.5,7,4,4,3,Not Furnishing,East faced,13 Feet

In [11]:
def price_converter(price):
    price=" ".join(price)
    try : 
        price=float(price)
    except:
        price=price.lower()
        price=price.split(" ")
        if  len(price)==2 and price[1]=='crore':
            price=float(price[0])*10000000
        elif len(price)==4 and price[1]=='crore' and price[3]=='lakh':
            price=float(price[0])*10000000 +float(price[2])*100000
        else :
            pass
    return price

In [12]:
df_kantipur['price']=df_kantipur['price'].apply(price_converter)

In [13]:
ropani_to_sqft = 5476
aana_to_sqft = 342.25  # 16 aana in 1 ropani
paisa_to_sqft = 85.56  # 4 paisa in 1 aana
daam_to_sqft = 21.39  # 4 daam in 1 paisa

# Conversion function
def convert_to_sqft(measurement):
    measurement = str(measurement).lower().strip()
    total_sqft = 0

    # Special case: Handle "0-3-3-0" format
    if "-" in measurement:
        parts = measurement.split('-')
        if len(parts) == 4:  # Ensure it has exactly 4 parts
            try:
                ropani, aana, paisa, daam = map(float, parts)
                return (
                    ropani * ropani_to_sqft +
                    aana * aana_to_sqft +
                    paisa * paisa_to_sqft +
                    daam * daam_to_sqft
                )
            except ValueError:
                return None  # Invalid number format

    # General case: Handle "3 anna 5 paisa" and similar formats
    unit_conversion = {
        "ropani": ropani_to_sqft,
        "aana": aana_to_sqft,
        "paisa": paisa_to_sqft,
        "daam": daam_to_sqft,
        "sqft": 1,
        "sq ft": 1,
    }

    parts = measurement.split()
    i = 0
    while i < len(parts):
        try:
            value = float(parts[i])  # Numeric value
            unit = parts[i + 1] if i + 1 < len(parts) else None  # Unit
            if unit in unit_conversion:
                total_sqft += value * unit_conversion[unit]
                i += 2  # Move to the next value-unit pair
            else:
                return None  # Invalid unit
        except (ValueError, IndexError):
            return None  # Invalid format

    return total_sqft

In [14]:
df_kantipur["land_area"]=df_kantipur["land_area"].apply(convert_to_sqft)

In [15]:
df_kantipur.head(10)

,price,location,land_area,no_of_flat,no_of_bedroom,no_of_bathroom,no_of_livingroom,no_of_kitchen,furnishing,facing,road_size
0,72500000.0,Dhapasi Height,2566.87,3.5,9,7,3,3,Semi Furnished,East/South & North faced,32 Feet
1,72500000.0,Dhapasi Height,2566.87,3.5,9,7,3,3,Semi Furnished,East/South & North faced,32 Feet
2,0.0,Bhangal Height,1369.00,2.5,4,5,3,2,Semi Furnished,North Faced,13 Feet
3,0.0,Bhangal Height,1369.00,2.5,4,5,3,2,Semi Furnished,North Faced,13 Feet
4,36000000.0,Pepsicola,1112.31,4.5,7,4,4,3,Not Furnishing,East faced,13 Feet
5,36000000.0,Pepsicola,1112.31,4.5,7,4,4,3,Not Furnishing,East faced,13 Feet
6,32500000.0,Tokha Dhaneshwor,1197.87,3,7,3,3,2,Fully Furnished,West Faced,10 Feet
7,32500000.0,Tokha Dhaneshwor,1197.87,3,7,3,3,2,Fully Furnished,West Faced,10 Feet
8,28500000.0,Mahalaxmi Siddartha Tole,1112.31,2.5,5,4,2,2,Semi Furnished,East faced,20 Feet
9,28500000.0,Mahalaxmi Siddartha Tole,1112.31,2.5,5,4,2,2,Semi Furnished,East faced,20 Feet

In [16]:
df_kantipur['facing']=df_kantipur['facing'].apply(lambda x:x.lower())
df_kantipur['facing']=df_kantipur['facing'].apply(lambda x:x.replace("faced","").split())

In [17]:
df_kantipur['road_size']=df_kantipur['road_size'].apply(lambda x:x.lower())
df_kantipur['road_size']=df_kantipur['road_size'].apply(lambda x:x.replace("feet","").split())

In [18]:
df_kantipur.head()

,price,location,land_area,no_of_flat,no_of_bedroom,no_of_bathroom,no_of_livingroom,no_of_kitchen,furnishing,facing,road_size
0,72500000.0,Dhapasi Height,2566.87,3.5,9,7,3,3,Semi Furnished,"[east/south, &, north]",[32]
1,72500000.0,Dhapasi Height,2566.87,3.5,9,7,3,3,Semi Furnished,"[east/south, &, north]",[32]
2,0.0,Bhangal Height,1369.00,2.5,4,5,3,2,Semi Furnished,[north],[13]
3,0.0,Bhangal Height,1369.00,2.5,4,5,3,2,Semi Furnished,[north],[13]
4,36000000.0,Pepsicola,1112.31,4.5,7,4,4,3,Not Furnishing,[east],[13]

In [19]:
df_kantipur.to_csv("preprocessed_kantipur.csv",index=False)