In [1]:
#importing libaries
import pandas as pd
import numpy as np

In [2]:
#loading the working dataset
df_gharsansar=pd.read_csv(r'gharsansar_raw_test.csv')
df_gharsansar.sample(5)

,price,location,land_size,no_of_flat,no_of_bedroom,no_of_bathroom,no_of_living,no_of_kitchen,facing,road_size
229,Rs NPR 4.2 CR/-,"location: Kathmandu,Bafal",5 Aana,NaN,4,4,1,1,South/East,11 Feets
132,Rs 4 Crore 20 Lakh,"location: Imadol,Gauri Sankar",4 Anna 1 Paisa,Discover your dream home in the prime location...,6,4,2,2,SOUTH,13 Feet
235,Rs NPR 2.25CR/-,"location: Kathmandu,Sitapaila,Towkhel",0.3.3.0 Aana,NaN,4,4,1,1,West,13 feets
366,"Rs 22,000,000","location: Kathmandu, Sitapaila",3 Anna,New house built with long lasting and duriable...,6,3,1,2,NORTH,16 Feets
212,Rs NPR 2.65CR,"location: Imadol,Bojho Pokhari",3.1.1Anna,NaN,5,3,2,2,SOUTH-WEST,13 Feets

In [3]:
df_gharsansar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 459 entries, 0 to 458
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   price           459 non-null    object
 1   location        459 non-null    object
 2   land_size       459 non-null    object
 3   no_of_flat      379 non-null    object
 4   no_of_bedroom   459 non-null    int64
 5   no_of_bathroom  459 non-null    int64
 6   no_of_living    459 non-null    int64
 7   no_of_kitchen   459 non-null    int64
 8   facing          459 non-null    object
 9   road_size       459 non-null    object
dtypes: int64(4), object(6)
memory usage: 36.0+ KB

In [4]:
df_gharsansar['price']

0      Rs NPR 25,000,000/-
1      Rs NPR 21,500,000/-
2      Rs NPR 33,000,000/-
3      Rs NPR 25,000,000/-
4      Rs NPR 70,000,000/-
              ...
454          Rs 34,000,000
455            Rs 55000000
456         Rs 5,25,00,000
457         Rs 3,00,00,000
458          Rs 30,000,000
Name: price, Length: 459, dtype: object