In [1]:
#Importing libaries
import pandas as pd

In [2]:
#importinf dataset
df_nepal_homes=pd.read_csv('raw_nepal_homes.csv')
df_nepal_homes.head()

,price,location,land_size,no_of_flat,no_of_bedroom,no_of_bathroom,furnishing,facing,road_size
0,Rs. 5.5Cr,"Dhapakhel, Lalitpur",5.3 aana,3.0,5,3,Full-Furnished,East,20 Feet
1,Rs. 3Cr,"Bhaisepati, Lalitpur",3.2 aana,2.0,4,3,Semi-Furnished,East,16 Feet
2,Rs. 4Cr,"Bhangal , Kathmandu",5.1 aana,2.5,5,4,Semi-Furnished,West,13 Feet
3,Rs. 6.5Cr,"Ganesh Chowk, Kathmandu",5.1 aana,2.5,6,3,Un-Furnished,South,13 Feet
4,Rs. 5.75Cr,"Samakhusi, Kathmandu",7.2 aana,2.5,6,4,Un-Furnished,South,16 Feet

In [3]:
df_nepal_homes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2530 entries, 0 to 2529
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   price           2530 non-null   object
 1   location        2530 non-null   object
 2   land_size       2530 non-null   object
 3   no_of_flat      2530 non-null   float64
 4   no_of_bedroom   2530 non-null   int64
 5   no_of_bathroom  2530 non-null   int64
 6   furnishing      2530 non-null   object
 7   facing          2530 non-null   object
 8   road_size       2530 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 178.0+ KB

In [4]:
df_nepal_homes['price'].value_counts()

price
Price on call    197
Rs. 3.5Cr         86
Rs. 3.25Cr        79
Rs. 2.75Cr        63
Rs. 2.5Cr         59
                ...
Rs. 1Cr/aana       1
Rs. 7.6Cr          1
Rs. 1.6Cr          1
Rs. 90Lac          1
Rs. 3Cr/aana       1
Name: count, Length: 288, dtype: int64

In [5]:
df_nepal_homes['price']=df_nepal_homes['price'].apply(lambda x:x.replace("Price on call",""))
df_nepal_homes['price']=df_nepal_homes['price'].apply(lambda x:x.replace("Rs.","").split())

In [15]:
df_nepal_homes['price'].str.extract(r'(\d+\.\d+|\d+)')[0]

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
2525    NaN
2526    NaN
2527    NaN
2528    NaN
2529    NaN
Name: 0, Length: 2530, dtype: object